
.heading {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  height: 100%;
}

#article {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 100%;;
}

.description {
  display: block;
  width: 100%;
}

.btn {
  margin-top: 2rem;
}

#image {
  max-width: 500px;
  height: auto;
}