// Fonts
@import url('https://fonts.googleapis.com/css?family=Caveat:700|Raleway&display=swap');
$heading-font: 'Caveat', cursive, serif;
$body-font: 'Raleway', sans-serif;

// Media queries
@mixin bp($point) {
  @if $point == phone {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1200px) { @content; }
  }
}

// Misc mixins
@mixin fill-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@mixin smooth-font {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// Colours
$primary-color: black;
$secondary-color: white;
$background-color: pink;
$text-color: orange;

body, html {
  @include fill-container;
}

.container {
  @include fill-container;
  @include smooth-font;
  display: flex;
  box-sizing: border-box;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  background: $background-color;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $heading-font;
  font-size: 32px;
}


.content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 80%;
  font-family: $body-font;
  font-size: 24px;
}


.btn {
  margin-top: 2rem;
  font-family: $body-font;
}

.content__img {
  max-width: 500px;
  max-height: 500px;
}

.content__img-container {
  background: no-repeat cover;
}

.content__link {
  display: none;
}

.loader {
  display: none;
  border: 16px solid $secondary-color;
  border-top: 16px solid $primary-color;
  border-radius: 50%;
  margin-top: 50px;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}